$content_width: 45%;

.boarding-pass-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.boardingPassH1 {
  color: #ccc;
  font-weight: 200;
  font-size: 2.1em;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

.boardingPassH2 {
  color: #ccc;
  font-weight: 100;
  font-size: 0.9em;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

.boardingPassH3 {
  color: #ccc;
  font-weight: 100;
  font-size: 0.9em;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

.boarding-pass-image {
  background-color: black;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.cards_wrapper {
  text-align: center;
  padding-top: 20px;
  width: 350px;
}

.card {
  width: 320px;
  border-radius: 20px;
  background: #4d1532;
  display: inline-block;
  margin: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);

  img {
    width: 100%;
  }

  .inner {
    position: absolute;
    width: 320px;
    height: 15%;
    z-index: 0;
    opacity: 0.1;
    margin-top: 1.5em;
    background-image: url("../../Images/shooting_stars.svg");
    background-size: 95px;
    background-repeat: repeat-x;
    background-position: 0px 0px;
    animation: animatedBackground 40s linear infinite;
    @keyframes animatedBackground {
      from {
        background-position: 100% -10px;
      }
      to {
        background-position: 0% -10px;
      }
    }
  }

  &_logo {
    background: #ffffff;
    border-radius: 20px 20px 0 0;

    img.qatar {
      // margin: -50px;
      // text-align: center;
      height: 4.5em;
      // transform: rotate(45deg);
      padding: 6em, 0, 14em, 0;
      margin: 0.5em 0 0.5em 0;
    }
    img.tigerair {
      margin-top: 10px;
      text-align: center;
      width: 45%;
    }
    img.airasia {
      margin: -10px;
      text-align: center;
      width: 35%;
    }
  }

  &_heading {
    h2 {
      padding-top: 20px;
      text-align: center;
    }
  }

  &_thumbnail {
    min-height: 150px;
    margin-top: 10px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &_trip {
    text-align: center;
    width: $content_width;
    margin: 30px auto;
    display: flex;
    height: 72px;

    div {
      display: inline-block;
      height: 100%;
      vertical-align: middle;

      h1 {
        margin: 0px;
      }

      h2 {
        margin: 0px;
        letter-spacing: 2px;
      }

      &.trip_from {
        text-align: center;
        width: fit-content;

        h2 {
          padding-left: 2px;
        }
      }

      &.trip_icon {
        width: fit-content;

        img {
          opacity: 1;
          width: 25px;
        }
      }

      &.trip_to {
        text-align: center;
        width: fit-content;

        h2 {
          padding-right: 3px;
        }
      }
    }
  }

  &_departure {
    margin: -20px auto 32px;

    div {
      color: #ccc;
    }
  }

  &_divider {
    position: relative;
    width: 100%;

    .divider_left {
      left: -15px;
    }

    .divider_hole {
      position: absolute;
      top: -12px;
      padding: 0px;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      background: #050518;
      // box-shadow: inset 0 3px 10px 0 rgba(0,0,0,.4);
    }

    .divider {
      width: $content_width;
      margin: auto;
      height: 2px;
      background: linear-gradient(to right, #c5d8e6 50%, transparent 50%);
      background-size: 10px 8px, 100% 2px;
      opacity: 0.2;
    }

    .divider_right {
      right: -15px;
    }
  }

  &_flight_details {
    h2 {
      font-size: 0.7em;
    }

    .card {
      &_seating {
        font-family: "Montserrat", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: $content_width;
        margin: 30px auto;
        display: flex;

        div {
          display: inline-block;
          width: 50%;

          &.seating_passenger {
            text-align: left;
          }

          &.seating_passenger_dos {
            text-align: left;
            padding-left: 32px;
          }

          &.seating_seat {
            text-align: right;
          }
        }
      }

      .card_seating :input {
        font-family: "Montserrat", sans-serif;
      }

      &_details {
        width: $content_width;
        margin: 30px auto;
        display: flex;
        // padding-bottom: 30px;

        div {
          display: inline-block;
          width: 33%;

          &.details_flight {
            text-align: left;
          }

          &.details_date {
            text-align: center;
          }

          &.details_time {
            text-align: right;
          }
        }
      }

      &_details_continued {
        width: $content_width;
        margin: 30px auto;
        display: flex;
        padding-bottom: 30px;

        div {
          display: inline-block;
          width: 33%;

          &.details_flight {
            text-align: left;
          }

          &.details_date {
            text-align: center;
          }

          &.details_time {
            text-align: right;
          }
        }
      }
    }
  }

  .card {
    &_seating {
      width: $content_width;
      margin: 30px auto;
      display: flex;

      div {
        display: inline-block;
        width: 50%;

        &.seating_passenger {
          text-align: left;
        }

        &.seating_passenger_dos {
          text-align: left;
          padding-left: 32px;
        }

        &.seating_seat {
          text-align: right;
        }
      }
    }

    &_details {
      width: $content_width;
      margin: 30px auto;
      display: flex;
      // padding-bottom: 30px;

      div {
        display: inline-block;
        width: 33%;

        &.details_flight {
          text-align: left;
        }

        &.details_date {
          text-align: center;
        }

        &.details_time {
          text-align: right;
        }
      }
    }

    &_details_continued {
      width: $content_width;
      margin: 30px auto;
      display: flex;
      padding-bottom: 30px;

      div {
        display: inline-block;
        width: 33%;

        &.details_flight {
          text-align: left;
        }

        &.details_date {
          text-align: center;
        }

        &.details_time {
          text-align: right;
        }
      }
    }
  }
}

.qr-theme {
  background: #3d1566;

  .card_logo {
    background: #adb8eb;
    border-top: 5px solid #3d1566;
  }
}

.traveler-info {
  margin: 1.5%;
  cursor: pointer;
  height: 1.8em;
  font-size: 1em;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: none;
  border-bottom: solid 1.5px white;
  background-color: #3d1566;
  color: white;
}

.traveler-info input:focus {
  color: white !important;
}
