.whole-page {
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.home-page {
  width: 100vw;
}

.background {
  z-index: -1;
  position: absolute;
}
