.whole-page {
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  /* background-image: url('../Images/space-background.jpg'); */
}

.home-page {
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
}

