.whole-page {
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  /* background-image: url('../Images/space-background.jpg'); */
}

.home-page {
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
}

.background {
  /* margin-top: 10%; */
  z-index: -1;
  position: absolute;
}
