.destinations {
  margin: 40px;
  border: solid 2px #ADB8EB;
  padding: 2%;
  background-color: #050517;
  border-radius: 6px;
}

.slick-dots li button:before {
  color: #ADB8EB!important;
}

.destinations-title {
  margin-bottom: 4%;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400;
  color: white;
}

