.header {
  background-color: #050517;
  height: auto;
  width: auto;
  margin-bottom: 2%;
  display: flex;
  padding: 1% 0 1% 0;
  border-bottom: 2px solid #adb8eb;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  margin-left: 2em;
  height: 130px;
  justify-self: left;
}

.back-earth-btn {
  /* justify-self: right; */
  margin-right: 3rem;
  height: 4rem;
  width: 14em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #adb8eb;
  background-color: #050517;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border: 4px solid #adb8eb;
}

.invisible-hyperspace {
  height: 0px;
  width: 0px;
  position: absolute;
  z-index: -999;
}
