.destination-card {
  background-color: #adb8eb;
  width: 70%;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 4%;
  border-radius: 6px;
}

.destination-name {
  font-size: 1.3em;
  font-weight: 700;
  padding-top: 3%;
}

.destination-icon {
  width: 30px;
  margin-left: 5%;
}

.destination-name-and-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
